@import '../../../mixins/mixins.scss';

.CarouselSection {
	position: absolute;
	bottom: 0;
	left: 0;
	@include widthHeight(100%, fit-content);
	@include flexDirJusAli(column, center, center);
	background: rgba(60, 73, 97, 0.75);
	.rec-carousel-wrapper {
		@include widthHeight(100%, 100%);
		max-width: 1000px;
		padding: 2em 0 1em;
		.rec-carousel {
			.rec-slider-container {
				margin: 0 3em;
				.rec-slider {
					.rec-swipable {
						.rec-carousel-item {
							.rec-item-wrapper {
								img {
									outline-width: 0;
									outline: none;
									width: 95%;
								}
							}
						}
					}
				}
			}
		}
		.rec-pagination {
			transform: scale(0.75);
			.rec-dot {
				background: #636d81;
				border-color: #636d81;
				box-shadow: 0 0 1px 1px #636d81;
			}
			.rec-dot_active {
				background: #ffffff;
				border-color: #ffffff;
				outline-color: #ffffff;
				box-shadow: 0 0 1px 1px #ffffff;
			}
		}
	}
}
