@mixin widthHeight($wei, $hei) {
	width: $wei;
	height: $hei;
}

@mixin topLeftAbsolute($top, $left) {
	position: absolute;
	top: $top;
	left: $left;
	transform: translate($left, $top);
}

@mixin flexDirJusAli($direction, $justified, $alignment) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justified;
	align-items: $alignment;
}

@mixin zeroMarginPadding {
	margin: 0;
	padding: 0;
}

@mixin noSelection() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
